<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Web3-transaction</title>
</head>
<body>
<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/registration">Registration</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/renew">DEBUG: RENEW!</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/users">DEBUG: USERS!</a>
        </td>
    </tr>
</table>

<form method="post">
    <fieldset style="width:300px" >
        <legend><b>Transaction form</b></legend>

        <p></p>
        <label> Sender Name: </label>
        <input name="senderName" type="text">

        <p></p>
        <label> Sender Pass: </label>
        <input name="senderPass" type="password">

        <p></p>
        <label> count: </label>
        <input name="count" type="text">

        <p></p>
        <label> name To: </label>
        <input name="nameTo" type="text">

        <p></p>
        <button type="submit">submit</button>

    </fieldset>
</form>

</body>
</html>