<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>web3-registration</title>
</head>
<body>

<table style=" width: 100%; border: 4px double black;">
    <tr>
        <td style="border: 1px solid black; text-align: center">
            <a href="/transaction">Transaction</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/renew">DEBUG: RENEW!</a>
        </td>
        <td style="border: 1px solid black; text-align: center">
            <a href="/users">DEBUG: USERS!</a>
        </td>
    </tr>
</table>

<form method="post">
    <fieldset style="width:300px" >
        <legend><b>Form of registration</b></legend>

        <p></p>
        <label> name: </label>
        <input name="name" type="text">

        <p></p>
        <label> password: </label>
        <input name="password" type="password">

        <p></p>
        <label> money: </label>
        <input name="money" type="text">


        <p></p>
        <button type="submit">submit</button>

    </fieldset>
</form>

</body>
</html>

